@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-color: #0f0f0f;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}